* {
    font-family: 'Roboto', sans-serif;
}
header {
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 71px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}
.menu .menu_item {
    border-right: 2px dashed;
    background: #00000000 0.01%;
    padding-right: 28px;
}
.subheader {
    height: 87px;
    background-color: rgba(0,0,0,0.6);
}
.subheader .subheader_logo {
    display: block;
    margin-top: 17px;
    max-width: 100%;
}
.subheader .subheader_logo_text {
    margin-top: 6px;
    font-size: 13px;
    opacity: 0.5;
    font-weight: 400;
    color: #FFFFFF;
}
.subheader .subheader_call {
    margin-top: 21px;
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: right;
}
.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px;
    text-decoration: none;
}
.subheader .subheader_btn {
    margin-top: 21px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo {
    min-height: 799px;
    background: url("../img/uber_bg.png") center center/cover no-repeat;
}